
@media (max-width: 375px) {
    .conatiner{
        flex-direction: column-reverse;
        flex: 100%;
        padding:2px;
    }
    .rightSection, .leftSection {
      flex: 50%;

    }
       
    .persend .number{
        width: 45%;
    }
    .persend .number.custom{
        width: 42%;
      
    }
    .numberContainer{
        margin-left: 10px;
    }
} 